.toast {
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    font-size: 16px;
    padding: 0 20px;
    height: 40px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    }
.toast-enter {
    opacity: 0;
    transform: translateY(-10px);
}
.toast-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}
.toast-exit {
    opacity: 1;
    transform: translateY(0);
}
.toast-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s;
}
